/* custom properties */

:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primaro: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;

    /* Fuentes */
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5% /* 1rem = 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
      font-size: 1.6rem;
      font-family: 'Krub', sans-serif;
      background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
  }

/* Tipografia */

h1 {
  font-size: 3.8rem;
  margin: 0;
}

h2{
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1, h2, h3 {
  text-align: center;
}

.titulo span {
  font-size: 2rem;
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal{
  display: flex;
  justify-content: space-evenly;
}

.header1{
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),url(/resources/Imagenes/Saben\ cuál\ es\ la\ mejor\ Biblioteca\ Pública\ nueva\ del\ mundo-1.jpg);
  background-size: cover;
  height: 10rem;

}

.part1{
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url(/resources/Imagenes/Saben\ cuál\ es\ la\ mejor\ Biblioteca\ Pública\ nueva\ del\ mundo-1.jpg);
  background-size: cover;
  height: 40rem;
}

.articulo{
  position: relative;
}

.header2, .header2 p, .publi{
  position: absolute;
}

.header2{
  top: 5rem;
  right: 0;
  left: 0;
}

.header2 p{
  top: 5rem;
  right: 0;
  left: 50rem;
}

.publi, .h2{
  color: #DFE9F3;
}
.publi a{
  color: #0097a7;
}

.publi{
  top: 15rem;
}

.navegacion-principal a{
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--primaro);
  color: var(--oscuro);
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  /* margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto; */
  /* margin: 0 auto 0 auto; */
}

#formulario {
  background-color: var(--gris);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
}

#formulario fieldset {
  border: none;
}

#formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primaro);
}
